<nav class="top-nav">
  <div class="container">
    <div class="nav-wrapper">
      <div class="row">
        <div class="brand-logo left">
          Idea Box
        </div>
        <div class="right">
          <div class="col">
            New Idea:
          </div>
          <div id="new-idea">
            <div class="input-field col s2">
              <input id="title" type="text">
              <label for="title">Title</label>
            </div>
            <div class="input-field col">
              <input id="body" type="text">
              <label for="body">Body</label>
            </div>
            <input class="btn btn-default" id="create-idea" type="button" name="submit" value="Save">
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
