<nav class="top-nav">
  <div class="container">
    <div class="nav-wrapper">
      <div class="row">
        <div class="brand-logo left">
          Idea Box
        </div>
        <div class="col s6 right">
          <form id="live-search" action="" class="input-field" method="post">
            <i class="material-icons prefix">search</i>
            <input placeholder="Search Through Ideas" type="text" class="text-input" id="search" name="search" />
          </form>
        </div>
      </div>
    </div>
  </div>
</nav>
