<h4>Ideas</h4>
<div class="row">
  <div id="ideas" class="col s6">
  </div>
  <div class="col s4 right">
    <div id="new-idea">
      <h5>
        Create a New Idea
      </h5>
      <div class="input-field">
        <input id="title" type="text">
        <label for="title">Title</label>
      </div>
      <div class="input-field">
        <textarea id="body" class="materialize-textarea"></textarea>
        <label for="body">Body</label>
      </div>
      <input class="btn" id="create-idea" type="button" name="submit" value="Save">
    </div>
  </div>
</div>
